<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="minimum-scale=1, initial-scale=1, width=device-width" name="viewport"/>
	<title>Break</title>
	<meta content="script-src 'self' 'unsafe-inline';" http-equiv="Content-Security-Policy"/>
	<link href="../assets/css/breakWindow.css" rel="stylesheet">
	<link href="../assets/css/clock.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>

</head>
<body>
<h1>You are on a break!</h1>
<div id="breakTimerCanvas"></div>
<div id="app"></div>
<button onclick="skipBreak()">Skip break</button>
<h1>Current time:</h1>
<div id="clock"></div>
</body>
<script src="../assets/js/breakWindow.js" type="application/javascript"></script>
</html>